---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

// TODO: Sektionen je nach PRB hinzufügen:
// import Hero from "../components/Hero.astro";
// import SocialProof from "../components/SocialProof.astro";
// import About from "../components/About.astro";
// import Services from "../components/Services.astro";
// import Stats from "../components/Stats.astro";
// import CtaDivider from "../components/CtaDivider.astro";
// import Testimonials from "../components/Testimonials.astro";
// import Faq from "../components/Faq.astro";
// import ContactForm from "../components/ContactForm.astro";
---

<Layout>
  <Header />
  <main id="main-content">

    <!-- TODO: Sektionen hier einsetzen -->
    <!-- <Hero /> -->
    <!-- <SocialProof /> -->
    <!-- <About /> -->
    <!-- <Services /> -->
    <!-- <Stats /> -->
    <!-- <CtaDivider /> -->
    <!-- <Testimonials /> -->
    <!-- <Faq /> -->
    <!-- <ContactForm /> -->

  </main>
  <Footer />
</Layout>
